x1&2/people.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="genderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="personRef">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="ref" type="xs:IDREF"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="firstName" type="xs:string" minOccurs="0"/>
                            <xs:element name="lastName"  type="xs:string" minOccurs="0"/>
                            <xs:element name="mother"    type="personRef" minOccurs="0"/>
                            <xs:element name="father"    type="personRef" minOccurs="0"/>
                            <xs:element name="spouse"    type="personRef" minOccurs="0"/>
                            <xs:element name="children"  minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice maxOccurs="unbounded">
                                            <xs:element name="son"     type="personRef"/>
                                            <xs:element name="daughter" type="personRef"/>
                                            <xs:element name="child"   type="personRef"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="siblings" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice maxOccurs="unbounded">
                                            <xs:element name="brother" type="personRef"/>
                                            <xs:element name="sister"  type="personRef"/>
                                            <xs:element name="sibling" type="personRef"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id"     type="xs:ID" use="required"/>
                        <xs:attribute name="gender" type="genderType" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>